name: Python test and build

on:
  push:
    branches: [ lab** ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          pip install -r app_python/requirements.txt
          pip install pytest flake8

      - name: Run a linter
        run: flake8 app_python/app.py --max-line-length=100 --statistics

      - name: Run unit tests
        run: pytest app_python
  
  docker:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Generate version
        run: echo "VERSION=$(date +%Y.%m.%d)" >> $GITHUB_ENV

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: ./app_python
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/devops-info-service:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/devops-info-service:${{ env.VERSION }}