name: Python test and build

on:
  push:
    branches: [ lab** ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  PYTHON_VERSION: '3.12'
  DOCKER_IMAGE_NAME: 'devops-info-service'
  APP_PATH: 'app_python'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          cache: 'pip'
          cache-dependency-path: '${{ env.APP_PATH }}/requirements.txt'

      - name: Install dependencies
        run: |
          pip install -r ${{ env.APP_PATH }}/requirements.txt
          pip install pytest flake8

      - name: Run a linter
        run: flake8 ${{ env.APP_PATH }}/app.py --max-line-length=100 --statistics

      - name: Run unit tests
        run: pytest ${{ env.APP_PATH }}

  security:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run Snyk
        uses: snyk/actions/python-3.10@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          args: --file=${{ env.APP_PATH }}/requirements.txt --severity-threshold=high
  
  docker:
    needs: security
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Generate version
        run: echo "VERSION=$(date +%Y.%m.%d)" >> $GITHUB_ENV

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: ./${{ env.APP_PATH }}
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/${{ env.DOCKER_IMAGE_NAME }}:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/${{ env.DOCKER_IMAGE_NAME }}:${{ env.VERSION }}